<main class="text-primary">

  <section class="py-5 text-center container pt-7">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Projetos</h1>
        <p class="lead text-body-secondary">Você pode conferir uma seleção cuidadosa de obras, demonstrando uma visão
          criativa de projetos comerciais e residenciais.</p>
      </div>
    </div>
  </section>

  <div class=" py-5 bg-body-tertiary">
    <div class="container">
      <div class="row d-flex  align-items-center justify-content-center">


        <div class="col">
          <div class="card shadow-sm m-1">
            <img ngSrc="/assets/images/projects/thumbnail/thumbnail_project1.png" width="462" height="260"
                 alt="...">
            <div class="card-body cardBackground text-center">
              <p class="card-text fw-semibold"><i class="fa-solid fa-building"></i> Projetos Comerciais <i
                class="fa-solid fa-arrow-right"></i></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm m-1">
            <img ngSrc="/assets/images/projects/thumbnail/thumbnail_project3.png" width="462" height="260" alt="...">
            <div class="card-body cardBackground text-center">
              <p class="card-text fw-semibold"><i class="fa-solid fa-house"></i> Projetos Residenciais <i
                class="fa-solid fa-arrow-right"></i></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>
