<div class="section bg-light">
  <div class="container  pt-3 mt-5">
    <div class="row justify-content-center ">
      <div class="col-lg-1">
        <h2 class="pb-2 ">Projetos</h2>
        <div class="title-border"></div>
      </div>
    </div>
    <div class="row justify-content-center mt-5 pt-4">
      <div class="col-lg-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="client-box mt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="client-img mt-4">
                      <img ngSrc="assets/images/projects/project1.png" width="889" height="707" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="mt-4">
                      <div class="client-content">
                        <h5 class="f-19 fw-normal line-height_1_6">
                          Uma cozinha feita para conectar pessoas e criar memórias!
                          O design moderno e clean ganha vida com a elegância do MDF Freijó e
                          Branco Iceland, criando um espaço sofisticado, funcional e acolhedor. Cada detalhe foi
                          pensado para transformar momentos simples em lembranças inesquecíveis!
                        </h5>

                        <div class="client-icon mt-4 pt-2">
                          <i class="fa-solid fa-quote-right"></i>
                        </div>

                        <p class="text-primary mb-0 f-14">- Cozinha</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="carousel-item">
              <div class="client-box mt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="client-img mt-4">
                      <img ngSrc="assets/images/projects/project1.png" width="889" height="707" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="mt-4">
                      <div class="client-content">
                        <h5 class="f-19 fw-normal line-height_1_6">
                          Uma cozinha feita para conectar pessoas e criar memórias!
                          O design moderno e clean ganha vida com a elegância do MDF Freijó e
                          Branco Iceland, criando um espaço sofisticado, funcional e acolhedor. Cada detalhe foi
                          pensado para transformar momentos simples em lembranças inesquecíveis!
                        </h5>

                        <div class="client-icon mt-4 pt-2">
                          <i class="fa-solid fa-quote-right"></i>
                        </div>

                        <h5 class="f-17 mt-3 mb-2">Jeremiah Eskew</h5>
                        <p class="text-primary mb-0 f-14">- Developer</p>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="client-box mt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="client-img mt-4">
                      <img ngSrc="assets/images/projects/project1.png" width="889" height="707" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">

                    <div class="mt-4">
                      <div class="client-content">
                        <h5 class="f-19 fw-normal line-height_1_6">
                          Uma cozinha feita para conectar pessoas e criar memórias!
                          O design moderno e clean ganha vida com a elegância do MDF Freijó e
                          Branco Iceland, criando um espaço sofisticado, funcional e acolhedor. Cada detalhe foi
                          pensado para transformar momentos simples em lembranças inesquecíveis!
                        </h5>

                        <div class="client-icon mt-4 pt-2">
                          <i class="fa-solid fa-quote-right"></i>
                        </div>

                        <h5 class="f-17 mt-3 mb-2">Zachary Tevis</h5>
                        <p class="text-primary mb-0 f-15">- Manager</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="client-box mt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="client-img mt-4">
                      <img ngSrc="assets/images/projects/project1.png" width="889" height="707" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="mt-4">
                      <div class="client-content">
                        <h5 class="f-19 fw-normal line-height_1_6">
                          Uma cozinha feita para conectar pessoas e criar memórias!
                          O design moderno e clean ganha vida com a elegância do MDF Freijó e
                          Branco Iceland, criando um espaço sofisticado, funcional e acolhedor. Cada detalhe foi
                          pensado para transformar momentos simples em lembranças inesquecíveis!
                        </h5>

                        <div class="client-icon mt-4 pt-2">
                          <i class="fa-solid fa-quote-right"></i>
                        </div>

                        <h5 class="f-17 mt-3 mb-2">William Alderman</h5>
                        <p class="text-primary mb-0 f-14">- Ceo</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <ol class="carousel-indicators mb-0 rounded">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"><img ngSrc="assets/images/projects/project1.png" width="889" height="707" alt="" class=" testi-img img-fluid mx-auto d-block">
            </li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=""><img ngSrc="assets/images/projects/project1.png" width="889" height="707" alt="" class=" testi-img img-fluid mx-auto d-block">
            </li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=""><img ngSrc="assets/images/projects/project1.png" width="889" height="707" alt="" class=" testi-img img-fluid mx-auto d-block">
            </li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class=""><img ngSrc="assets/images/projects/project1.png" width="889" height="707" alt="" class=" testi-img img-fluid mx-auto d-block">
            </li>
          </ol>
        </div>
      </div>

    </div>
  </div>
</div>
