  <!--Header-->
  <header class="header">
    <!--Hero-->
    <div class="hero text-primary pt-7">
      <div class="container-xl">
        <div class="row">
          <div class="col-md-6">
            <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
              <h1 class="display-3 fw-bold">Sandy Rocha Arquiteta</h1>
              <p class="lead">
                Especialista em criar LARES e NEGÓCIOS únicos!
                Mais de 1.000 m² transformados.
              </p>
              <button class="btn btn-primary btn-lg text-white">
                Contato
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="image-container mb-5 px-4">
              <img ngSrc="assets/images/img_principal.webp" width="500" height="636" priority alt="Imagem da Arquiteta Sandy Rocha sentada em uma cadeira" class="img-fluid img-thumbnail">
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
