<section class="masterhead mt-5 align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-9">
        <div class="title-heading mt-4">
          <h1 class="mb-3 fw-semibold lh-1">
            Arquiteta Sandy Rocha
          </h1>

          <p class="lead mb-4">
            Especialista em criar LARES e NEGÓCIOS únicos!
            Mais de 1.000 m² transformados.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-3">
        <img ngSrc="assets/images/proj_sandy_site_principal_1.png" width="514" height="548" priority alt="Imagem da Arquiteta Sandy Rocha sentada em uma cadeira">
      </div>
    </div>

  </div>
</section>
