<main class="text-primary">

  <section class="py-5 text-center container pt-7">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Projetos Comerciais</h1>
        <p class="lead text-body-secondary">Bem-vindo à página de projetos comerciais, onde apresentamos uma coleção de
          soluções inovadoras e funcionais para espaços corporativos, lojas e estabelecimentos comerciais. Cada projeto
          reflete o compromisso com a eficiência, estética e identidade visual, criando ambientes que atendem às
          necessidades específicas de cada cliente e negócio.</p>
      </div>
    </div>
  </section>

  <div class=" py-5 bg-body-tertiary">
    <div class="container">
      <h2 class="fw-normal">EA Complexo esportivo</h2>
      <div class="lead" >
        <div class="lead">
          <p class="fw-semibold">Localização:</p> Ananindeua, Pará
        </div>
        <div class="lead">
          <p class="fw-semibold">Objetivo:</p> Criar um centro esportivo moderno e acessível, promovendo atividades esportivas e de lazer para a comunidade local.
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-2 mb-4">
        <div class="col"><a href="/assets/images/projects/projects_modal/project1.webp" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project1.png"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project10.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project10.png"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project14.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project14.png"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
      </div>

      <h2 class="fw-normal">Faculdade Estácio | Polo Augusto Montenegro</h2>
      <div class="lead" >
        <div class="lead">
          <p class="fw-semibold">Localização:</p> Belém, PA
        </div>
        <div class="lead">
          <p class="fw-semibold">Objetivo:</p> O projeto de interiores para a Faculdade Estácio Polo Augusto Montenegro foi pensado para criar uma atmosfera que reflete a identidade visual da instituição, promovendo um ambiente acolhedor, funcional e moderno. O objetivo principal foi integrar a marca da faculdade em cada espaço, criando uma experiência visual consistente e que transmitisse os valores da Estácio, como inovação, acessibilidade e dinamismo.
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-2 g-2  mb-4">
        <div class="col"><a href="/assets/images/projects/projects_modal/project6.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project6.png"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project9.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project9.png"
                                                                                    alt="" height="260"
                                                                                    width="325"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project12.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project12.png"
                                                                                    alt="" height="260"
                                                                                    width="325"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project15.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project15.png"
                                                                                    alt="" height="260"
                                                                                    width="208"/></a>
        </div>
      </div>

      <h2 class="fw-normal">Loja Kanpai - Filtro e Purificadores</h2>
      <div class="lead" >
        <div class="lead">
          <p class="fw-semibold">Localização:</p> Belém, PA
        </div>
        <div class="lead">
          <p class="fw-semibold">Objetivo:</p> O projeto da Loja Kanpai - Filtros e Purificadores, adota um estilo industrial e moderno, com foco em criar um ambiente funcional e visualmente impactante. A identidade visual da marca foi integrada em todos os espaços, com o uso estratégico de cores e logos, fazendo com que cada área da loja se torne uma vitrine atraente e coesa. O layout foi pensado para destacar os produtos de forma clara e acessível, com zonas específicas para exposição e demonstração, proporcionando uma experiência de compra fluida e estimulante.
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-2  mb-4">
        <div class="col"><a href="/assets/images/projects/projects_modal/project5.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project5.png"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project11.webp" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project11.png"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
      </div>

      <h2 class="fw-normal">LOJA AM MÓVEIS - UNIDADE ANANINDEUA</h2>
      <div class="lead" >
        <div class="lead">
          <p class="fw-semibold">Localização:</p> Ananindeua, PA
        </div>
        <div class="lead">
          <p class="fw-semibold">Objetivo:</p> A loja foi projetada no estilo moderno, com uma fachada imponente e minimalista que destaca os móveis. A identidade visual da marca é incorporada em detalhes como acabamentos e iluminação, criando um ambiente sofisticado e fluido. O layout aberto permite que os produtos sejam o foco, proporcionando uma experiência de compra elegante e funcional.
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-2  mb-4">
        <div class="col"><a href="/assets/images/projects/projects_modal/project_am_moveis1.jpeg" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project_am_moveis1.webp"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_am_moveis2.jpeg" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project_am_moveis2.webp"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_am_moveis3.jpeg" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project_am_moveis3.webp"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_am_moveis4.jpeg" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project_am_moveis4.webp"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_am_moveis5.jpeg" data-lightbox="example-set"
                            data-title="Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                    ngSrc="/assets/images/projects/thumbnail/thumbnail_project_am_moveis5.webp"
                                                                                    alt="" height="260"
                                                                                    width="462"/></a>
        </div>
      </div>
    </div>


  </div>


</main>
