<div class="bg-light section">
  <div class="container-xl text-primary pt-3">
  <h2 class="pb-2 border-bottom">Sobre Sandy Rocha Arquitetura</h2>
    <div class="row">
      <div class="col-md-8">
        <p class="lead">
          Sandy Rocha é uma arquiteta com uma carreira consolidada, destacando-se no mercado pela sua expertise e paixão
          pela criação de ambientes únicos e funcionais. Com anos de experiência em projetos residenciais e comerciais,
          ela desenvolve soluções arquitetônicas inovadoras que atendem às necessidades e expectativas de cada cliente,
          sempre com foco em estética, conforto e sustentabilidade.
          Sua abordagem personaliza cada projeto, respeitando o estilo e a identidade de quem vai viver ou trabalhar no
          espaço, sem abrir mão da qualidade e da praticidade. Seja para transformar a residência dos sonhos ou otimizar
          um ambiente corporativo, Sandy Rocha é reconhecida pela entrega de resultados que equilibram beleza, eficiência e praticidade.
          Com um portfólio diversificado, que inclui desde reformas e interiores até novas construções, ela proporciona
          um atendimento próximo e personalizado, guiando seus clientes por todas as etapas do processo. Se você busca uma arquitetura que une inovação e experiência, Sandy Rocha é a escolha certa para transformar seus projetos em realidade.
        </p>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img ngSrc="assets/images/logo7.webp" width="400" height="398" priority alt="Imagem da logo">
      </div>
    </div>
  </div>
</div>
