<div id="about" class="bg-light section">
  <div class="container-xl text-primary pt-3">
    <h2 class="pb-3 border-bottom">Sandy Rocha – Arquitetura com identidade e propósito</h2>
    <div class="row">
      <div class="col-md-8">
        <p class="lead">
          A arquitetura sempre foi minha paixão, e há 7 anos transformo essa vocação em projetos que fazem a diferença.
          Sou especialista em iluminação, interiores residenciais e comerciais, arquitetura escolar e acessibilidade.
          Meu trabalho vai além da estética: busco criar espaços que valorizam o imóvel e, acima de tudo, traduzem a
          identidade e o estilo de vida de quem os utiliza.
          Acredito que cada projeto precisa refletir a essência de quem o vive. Meu compromisso é criar ambientes
          únicos, confortáveis e funcionais—seja para morar ou empreender. Nunca tive dúvidas de que essa era minha
          missão, e meu legado é claro: transformar casas em lares e espaços comerciais em ambientes que fazem a
          diferença.
          Se você busca um projeto que una estética, conforto e personalidade, estou aqui para ajudar!
        </p>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img ngSrc="/assets/images/proj_sandy_site_principal_1.png" width="514" height="548" class="img-fluid" priority
             alt="Imagem da logo">
      </div>
    </div>
  </div>
</div>
