<section class="section bg-light" id="work">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-lg-3">
        <h2 class="pb-2 ">Nosso processo</h2>
        <div class="title-border"></div>
      </div>
    </div>

    <div class="row mt-5 pt-3">
      <div class="col-lg-4">
        <div class="work-box work-border text-center p-4">
          <div class="work-img">
            <img src="images/work/img-1.png" alt="" class="img-fluid">
          </div>

          <div class="work-contain">
            <h1 class="work-count text-muted display-2 fw-normal">01</h1>
            <div class="work-desc">
              <h4 class="f-17">Pesquisa e Planejamento</h4>
              <p class="text-muted mt-4 pt-2">
                Análise do espaço, definição de necessidades e preferências, e estudo de estilo e funcionalidade.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="work-box work-border text-center p-4">
          <div class="work-img">
            <img src="images/work/img-2.png" alt="" class="img-fluid">
          </div>
          <div class="work-contain">
            <h1 class="work-count text-muted display-2 fw-normal">02</h1>
            <div class="work-desc">
              <h4 class="f-17">Desenvolvimento do Conceito</h4>
              <p class="text-muted mt-4 pt-2">
                Criação de layouts, escolha de materiais e paleta de cores, e definição do design visual.
              </p>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="work-box text-center p-4">
          <div class="work-img">
            <img src="images/work/img-3.png" alt="" class="img-fluid">
          </div>
          <div class="work-contain">
            <h1 class="work-count text-muted display-2 fw-normal">03</h1>
            <div class="work-desc">
              <h4 class="f-17">Execução e Acompanhamento</h4>
              <p class="text-muted mt-4 pt-2">
                Implementação do projeto, coordenação de fornecedores e acompanhamento da obra até a finalização.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
