.whatsapp-icon i {
  width: 60px;
  height: 60px;
  background: #0CC143;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
