<main class="text-primary">

  <section class="py-5 text-center container pt-7">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Projetos Residenciais</h1>
        <p class="lead text-body-secondary">Bem-vindo à página de projetos residenciais, onde apresentamos uma coleção de
          soluções inovadoras e funcionais seu lar. Cada projeto
          reflete o compromisso com a eficiência, estética e identidade visual, criando ambientes que atendem às
          necessidades específicas de cada cliente.</p>
      </div>
    </div>
  </section>

  <div class=" py-5 bg-body-tertiary">
    <div class="container">
      <h2 class="fw-normal">Fortaleza dos Heróis | Residencial</h2>
      <div class="lead" >
        <div class="lead">
          <p class="fw-semibold">Localização:</p> Belém, Pará
        </div>
        <div class="lead">
          <p class="fw-semibold">Objetivo:</p> O projeto de interiores da casa temática Marvel e DC combina estilo moderno e arrojado, com elementos sutis que homenageiam os heróis. O layout aberto integra espaços como salas e home theater, misturando sofisticação e referências temáticas. Cores vibrantes, acabamentos metálicos e iluminação estratégica criam um ambiente moderno e acolhedor, equilibrando o poder dos heróis com o conforto do design.
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-2 mb-4">
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois1.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois1.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois2.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois2.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois3.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois3.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois4.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois4.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois5.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois5.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois6.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois6.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois7.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois7.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois8.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois8.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois9.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois9.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois10.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois10.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois11.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois11.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois12.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois12.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois13.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois13.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois14.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois14.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois15.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois15.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>
        <div class="col"><a href="/assets/images/projects/projects_modal/project_forataleza_herois16.jpeg" data-lightbox="example-set"
                            data-title="EA Complexo esportivo | Projeto arquitetônico de Sandy Rocha."><img class="img-thumbnail"
                                                                                                            ngSrc="/assets/images/projects/thumbnail/thumbnail_project_forataleza_herois16.webp"
                                                                                                            alt="" height="260"
                                                                                                            width="462"/></a>
        </div>

      </div>

    </div>


  </div>

</main>
