<!--Navigation-->
<nav class="navbar navbar-expand-lg fixed-top navbar bg-secondary">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      Sandy Rocha
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto" >
        <li class="nav-item">
          <a href="index.html" class="nav-link fw-semibold">Home</a>
        </li>
        <li class="nav-item">
          <a href="#details" class="nav-link fw-semibold">Sobre</a>
        </li>
        <li class="nav-item">
          <a href="#details" class="nav-link fw-semibold">Projetos</a>
        </li>
        <li class="nav-item">
          <a href="contact.html" class="nav-link btn btn-outline-light fw-semibold px-4 mx-4 ">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
