<div id="contact" class="contact-us">
  <div class="section contact-us-inside">
    <div class="container text-primary pt-3 mt-5">
      <div class="row justify-content-center ">
        <div class="col-lg-4">
          <h2 class="pb-2 ">Entre em contato</h2>
          <div class="title-border"></div>
        </div>
      </div>
      <div class="row mt-5 pt-4">
        <div class="col-lg-4">
          <div class="contact-content mt-4">
            <div class="mt-4 pt-1">
              <div class="contact-icon float-start pe-4">
                <i class="fa-brands fa-whatsapp"></i>
              </div>

              <div class="contact-info">
                <h5 class="f-16 mb-0 fw-normal">Whatsapp</h5>
                <a href="https://wa.me/5591989657779?text=Ol%C3%A1!%20Estou%20entrando%20em%20contato%2C%20pois%20vi%20seu%20site%20e%20gostaria%20de%20realizar%20um%20or%C3%A7amento." target="_blank" rel="noopener noreferrer" class="text-primary f-14 fw-normal">(91) 98965-7779 <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
              </div>
            </div>

            <div class="mt-4 pt-1">
              <div class="contact-icon float-start pe-4">
                <i class="fa-brands fa-instagram"></i>
              </div>

              <div class="contact-info">
                <h5 class="f-16 mb-0 fw-normal">Intagram</h5>
                <a href="https://www.instagram.com/arq.sandyrocha_/" target="_blank" rel="noopener noreferrer" class="text-primary f-14 fw-normal">{{'@arq.sandyrocha_'}}<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
              </div>
            </div>

            <div class="mt-4 pt-1">
              <div class="contact-icon float-start pe-4">
                <i class="fa-regular fa-envelope"></i>
              </div>

              <div class="contact-info">
                <h5 class="f-16 mb-0 fw-normal">E-mail</h5>
                <a class="text-primary f-14 fw-normal" href="mailto:contato@sandyrocha.com.br?subject=Gostaria de mais informações sobre seus serviços&body=Estou entrando em contato para saber mais informações sobre ses serviços. Podemos marcar uma visita?">{{'contato@sandyrocha.com'}}<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-8">
          <div class="custom-form mt-4">
            <form method="POST" name="myForm" action="https://formspree.io/f/mqaejwwj">
              <p id="error-msg"></p>
              <div id="simple-msg"></div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group mt-2">
                    <input name="name" id="name" type="text" class="form-control" placeholder="Nome">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group mt-2">
                    <input name="email" id="email" type="email" class="form-control" placeholder="E-mail">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <textarea name="comments" id="comments" rows="3" class="form-control" placeholder="Mensagem"></textarea>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-12 text-right">
                  <input type="submit" id="submit" name="send" class="submitBnt btn btn-rounded btn-primary" value="Enviar">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
